NODE_ENV=development
DEV_SERVER_PORT=5173

# Use DEV_SERVER_EXTERNAL_URL if local IP address or tunnel URL (like ngrok) is needed for development. f.e.
# http://192.168.1.43:5173 or https://myapp.ngrok-free.app
# DEV_SERVER_EXTERNAL_URL=
